<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="assets/img/UET.png" alt="Uet logo">
    <span>
      Class survey
    </span>
  </a>
  <div class="container">
    <a>Home</a>
    <a>Quản lý sinh viên</a>
    <a>Quản lý giáo viên</a>
    <a>Quản lý phiếu khảo sát</a>
    <a>Quản lý các cuộc khảo sát</a>
    <a>Xem kết quả</a>
    <a>Đánh giá</a>
    <a>Đăng xuất</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
