<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="assets/img/Banner.png" alt="Uet logo">
    <span>
      Class survey
    </span>
  </a>

  <button *ngIf="isLogined" class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of activity" class="nav-item">
        <a class="nav-link text-light" [href]="item.link"><i [class]="item.icon"> {{item.title}}</i></a>
      </li>
    </ul>
    <ul class="navbar-nav float-right"> 
      <li *ngIf="isLogined" >
        <a class="nav-link text-light" (click)="onLogout()"><i class="fas fa-sign-out-alt"> Đăng xuất</i></a>
      </li>
      <li *ngIf="!isLogined" >
        <a class="nav-link text-light" href="/login"><i class="fas fa-sign-in-alt"> Đăng nhập</i></a>
      </li>
    </ul>
  </div>
</nav>
