
<div class="container" style='margin-top: 5rem'>
  <h1 style='display: iline-block'>Phieu danh gia mon hoc ... </h1>
  <span class='interact' style='display: inline-block; float: right'>Khoi phuc mac dinh</span>
  <table class="table list-directory">
      <tbody>
        <tr>
          <td class='interact'>Add new</td>
          <td><input type='text' placeholder="ten danh muc" /></td>
        </tr>
        <tr>
          <td class='interact'>edit</td>
          <td>
            <span class='name-directory'>Co so VC</span>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 0px; padding-left: 100px;">
            <table class= 'table list-query'>
              <tr>
                <td> add new </td>
                <td><input type='text' placeholder="ten cau hoi" /></td>
                <td>
                  <select>
                    <option>Point</option>
                    <option>Text</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class='interact'>edit | delete</td>
                <td>
                  <span class='name-query'>So luong giang duong phu hop</span>
                </td>
                <td>
                  <ul>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class='interact'>edit | delete</td>
                <td>
                  <span class='name-query'>Chat luong giang duong</span>
                </td>
                <td>
                  <ul>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
</div>


<!-- <tr>
      <td class='title-survey'>Giang duong dap ung mon hoc</td>
          <td>
            <ul>
              <li><i class="far fa-star point-star"></i></li>
         
            </ul>
          </td>
        </tr>
        <tr>
          <td class='title-survey'>Trang thiet bi dap ung yeu cau giang day va hoc tap</td>
          <td>
            <ul>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class='title-survey'>Giang duong dap ung mon hoc</td>
          <td>
            <ul>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class='title-survey'>Giang duong dap ung mon hoc</td>
          <td>
            <ul>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </td>
        </tr> -->