<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top" style="background: #2FA9E5 !important;">
  <a class="navbar-brand" href="#"><h1>Learn English Online</h1></a>
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <span style="width: 30%"></span>
    <div *ngIf="isLogin" style="width: 23%" class="acc" (click)="onUserSetting()">
      <div class="user-icon" style="float: left">
        <img src="../../assets/image/user.png"/>
      </div>
      <div style="font-size: 23px;color: white;">{{userInfo.username}}</div>
    </div>
    <div *ngIf="isLogin" class="authen" (click)="onLogout()"> <i class="glyphicon glyphicon-log-out" style="font-size: 20px"></i> Đăng xuất</div>    
  </div>
</nav>
